<app-content-header
  [icon]="'my_location'"
  [title]="'Location Management'"
  [hideBreadcrumb]="true"
  [hasBgImage]="true"
  [class]="'pb-4'">
</app-content-header>

<div fxLayout="column" class="p-2">
  <div class="p-2" style="margin-bottom: 30px;">
    <mat-toolbar class="toolbar" style="background-color: #283593;">
      <button mat-raised-button color="accent" (click)="openAddMessageDialog()">
        <mat-icon>add</mat-icon> Add Location
      </button>
    </mat-toolbar>

    <div fxLayout="column" class="mat-elevation-z8">
      <mat-form-field class="px-3 py-1">
        
        <input matInput (keyup)="applyFilter($event)" placeholder="Type to filter all columns">
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- S No. Column -->
      <ng-container matColumnDef="serial_number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>S No.</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">{{i + 1}}</mat-cell>
      </ng-container>

      <!-- Location Name Column -->
      <ng-container matColumnDef="location_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Location Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.location_name}}</mat-cell>
      </ng-container>

      <!-- Created At Column -->
      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.created_at | date}}</mat-cell>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openEditDialog(element)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="OpenDelete(element.id)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>

<style>
.add-location-btn {
  text-transform: none;
  font-weight: normal;
}
</style>
