<app-content-header [title]="'Kingstone'" [icon]="'school'" [hideBreadcrumb]="true" [hasBgImage]="true" [class]="'pt-2'">
</app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 mailbox-toolbar">


  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="openAddMessageDialog()" class="compose" fxShow="false"
      fxShow.gt-xs>Add Kingstone</button>
  </div>

  <!-- <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="openBulkMessageDialog()" class="compose" fxShow="false"
      fxShow.gt-xs>Bulk upload</button>
  </div> -->

  

  <!-- <a [href]="csv_url" target="_blank">demo</a> -->
  <!-- <div *ngIf="csv_url != ''">
    <a [href]="csv_url | validurl" target="_blank">Error file</a>
  </div> -->


</mat-toolbar>


<div fxLayout="column" class="p-2">
  <div class="p-2">
    <div fxLayout="column" class="mat-elevation-z8">
      <mat-form-field class="px-3 py-1">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="serial_number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>S No.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.serial_number}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="team_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Kingstone Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.team_name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="player_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.player_id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="qr_code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Qr Image</mat-header-cell>
        <mat-cell *matCellDef="let element"><img src={{element.qr_code_path}}
          style=" margin:10px; height:120px; width:120px;"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a (click)="openEditDialog(element)">
            <mat-icon matListIcon class="pointer" style="color: dimgrey;margin-right: 5px; cursor: pointer;">edit
            </mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>