<app-content-header
  [icon]="'outlet'"
  [title]="'RF Circuit Management'"
  [hideBreadcrumb]="true"
  [hasBgImage]="true"
  [class]="'pb-4'"
></app-content-header>

<div fxLayout="column" class="p-2">
  <div class="p-2">
    <mat-toolbar class="toolbar" style="background-color: #283593;">
      <button mat-raised-button color="accent" (click)="addCircuit()">
        <mat-icon>add</mat-icon> Add Circuit
      </button>
    </mat-toolbar>

    <div fxLayout="column" class="mat-elevation-z8">
      <mat-form-field class="px-3 py-1">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Type to filter all columns">
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="serial_number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>S No.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.serial_number}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="circuit_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Circuit Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.circuit_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.start_date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.end_date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editCircuit(element)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCircuit(element)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter</td>
      </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>

<style>
.mat-cell, .mat-header-cell {
  padding: 0 16px;
}

.mat-header-cell {
  font-weight: bold;
  color: rgba(0,0,0,0.87);
}

.mat-cell mat-icon {
  font-size: 20px;
}

.mat-cell button {
  margin: 0 4px;
}

.mat-cell button mat-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
</style>
