.erorr_color {
    color: red;
}

.link-custom {
    text-decoration: none;
    color: white;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 6rem;
}

.hide{
    display: none;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

::ng-deep .error-snackbar {
  background-color: #f44336;
  color: white;
  
  .mat-simple-snackbar {
    font-weight: 500;
  }
  
  .mat-simple-snackbar-action {
    color: white;
  }
}
