<div class="dialog-content" style="min-width: 400px;">
    <h2 mat-dialog-title>Add Trainer</h2>

    <form [formGroup]="angForm" novalidate>
        <div class="form-content" style="padding: 20px;">
            <mat-form-field appearance="fill" class="w-100 custom-field">
                <mat-label>Trainer Name</mat-label>
                <input matInput placeholder="Enter trainer name" name="name"
                    formControlName="name">
                <mat-error *ngIf="angForm.controls['name'].errors?.['required']">
                    Trainer Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 custom-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter email" name="email"
                    formControlName="email">
                <mat-error *ngIf="angForm.controls['email'].invalid">
                    Invalid Email address
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 custom-field">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Enter phone" name="phone"
                    formControlName="phone">
                <mat-error *ngIf="angForm.controls['phone'].invalid">
                    Invalid Phone number
                </mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions align="end">
            <button mat-button (click)="dialogRef.close()">Cancel</button>
            <button mat-raised-button color="primary" 
                [disabled]="clicked || angForm.invalid" 
                (click)="addTrainer()">
                Add Trainer
            </button>
        </div>
    </form>
</div>