<app-content-header [title]="'Send Gift'" [icon]="'card_giftcard'" [hideBreadcrumb]="true" [hasBgImage]="true"
    [class]="'pt-2'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 mailbox-toolbar">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" (click)="openAddMessageDialog()" class="compose" fxShow="false"
            fxShow.gt-xs>Send Gift Codes</button>
    </div>
</mat-toolbar>


<div fxLayout="column" class="p-2">
    <div class="p-2">
        <div fxLayout="column" class="mat-elevation-z8">
            <mat-form-field class="px-3 py-1">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
            </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="serial_number">
                <mat-header-cell *matHeaderCellDef mat-sort-header>S No. </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
            </ng-container>
              <!-- [player id] -->
              <ng-container matColumnDef="PalyerID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Player ID</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.player_id | decode }} </mat-cell>
            </ng-container>
            <!--[player id]-->
               <!--[Amount] -->
             <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount }} </mat-cell>
               </ng-container>
               <!--[Amount] -->
               <!--[Gift card] -->
             <ng-container matColumnDef="gift_card">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gift Card</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.gift_code | decode }} </mat-cell>
               </ng-container>
               <!--[Gift card] -->
             
            <ng-container matColumnDef="request_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Request ID</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.creationRequestId | decode }} </mat-cell>
            </ng-container>

            <!--[Date] -->
            <ng-container matColumnDef="alloted_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Alloted Date</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.alloted_date }} </mat-cell>
               </ng-container>
               <!--[Date] -->
            <!-- <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element"> <a (click)="openEditDialog(element)">
                        <mat-icon matListIcon class="pointer"
                            style="color: dimgrey;margin-right: 5px; cursor: pointer;">edit</mat-icon>
                    </a>

                    <a (click)="OpenDelete(element.id)">
                        <mat-icon matListIcon class="pointer"
                            style="color: dimgrey;margin-right: 5px; cursor: pointer;">delete</mat-icon>
                    </a> </mat-cell>
            </ng-container> -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
</div>
<!-- 

<div fxLayout="row wrap" fxLayoutAlign="center" class="p-4">
   
    <mat-card class="p-4">  

                    <table >
                      <tr style="height: 50px;">
                        <th>Location Name</th>
                        <th>Created Date</th>
                        
                        <th>Action</th>

                    
                    </tr>
             
                    <tr *ngFor="let location of allCircuits.response;" class="trstyle">
                       
                    <td >{{location.location_name}}</td>
                    <td>{{location.created_at}}</td>
                    
                    <td>
                       <div>
                            <a (click)="openEditDialog(location)"><mat-icon matListIcon class="pointer" style="color: dimgrey;margin-right: 5px; cursor: pointer;">edit</mat-icon> </a> 
                        
                            <a (click)="OpenDelete(location.id)"><mat-icon matListIcon class="pointer" style="color: dimgrey;margin-right: 5px; cursor: pointer;">delete</mat-icon> </a>
                        </div>           

                    </td>
                    <mat-divider></mat-divider>

                   
                    </tr>
              
      </table> 
      </mat-card>     
  
</div> -->