<app-content-header
  [title]="'RF Box Management'"
  [icon]="'outlet'"
  [hideBreadcrumb]="true"
  [hasBgImage]="true"
  [class]="'pt-2'"
></app-content-header>

<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-raised-button
      color="accent"
      (click)="openAddMessageDialog()"
      class="compose"
      fxShow="false"
      fxShow.gt-xs
    >
      Add Box
    </button>
  </div>
</mat-toolbar>

<div fxLayout="column" class="p-2">
  <div class="p-2">
    <div fxLayout="column" class="mat-elevation-z8">
      <mat-form-field class="px-3 py-1">
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Type to filter all columns"
        />
      </mat-form-field>
    </div>
    <mat-table
      #table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="serial_number">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >S No.
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="device_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Box Id
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.device_id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="device_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Box Tag Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.device_name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Score
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.score }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lat">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Lat
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.lat }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lng">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Lng
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.lng }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell
          *matHeaderCellDef
          class="w-100 d-flex justify-content-center"
        >
          Actions
        </mat-header-cell>
        <mat-cell class="d-flex justify-content-center" *matCellDef="let element">
          <button
            mat-icon-button
            matTooltip="Click to Edit"
            class="remove-border"
            color="primary"
            (click)="openEditDialog(element)"
          >
            <mat-icon>edit</mat-icon></button
          ><button
            mat-icon-button
            matTooltip="Click to Delete"
            class="remove-border"
            (click)="confirmDialog(element)"
            color="warn"
          >
            <mat-icon class="iconfont">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[15, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
