<app-content-header 
    [icon]="'qr_code'"
    [title]="'Fruit Card QR'"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'pb-4'">
</app-content-header>

<div fxLayout="column" class="p-2">
    <div class="p-2" style="margin-bottom: 30px;">
        <mat-toolbar class="toolbar" style="background-color: #283593;">
            <button mat-raised-button color="accent" (click)="generateQR()">
                <mat-icon>add</mat-icon> Generate QR
            </button>
        </mat-toolbar>

        <div fxLayout="column" class="mat-elevation-z8">
            <mat-form-field class="px-3 py-1">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Type to filter all columns">
            </mat-form-field>
        </div>

        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- S No Column -->
            <ng-container matColumnDef="serial_number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> S No. </mat-header-cell>
                <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
            </ng-container>

            <!-- Card Name Column -->
            <ng-container matColumnDef="card_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Card Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.card_name}} </mat-cell>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="fruit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fruit_name}} </mat-cell>
            </ng-container>

            <!-- Score Points Column -->
            <ng-container matColumnDef="score_points">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Score Points </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
            </ng-container>

            <!-- QR Image Column -->
            <ng-container matColumnDef="qr_code_path">
                <mat-header-cell *matHeaderCellDef>QR Image</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img loading="lazy" [src]="element.qr_code_path" style="height:120px; width:120px;" [alt]="element.fruit_name + ' QR Code'">
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
</div>
