<div class="not-found-container">
    <div class="error-card mat-elevation-z4">
        <div class="error-header">
            <div class="error-icon">!</div>
            <h1>404</h1>
        </div>
        <div class="error-content">
            <h2>OOPS, THE PAGE YOU ARE LOOKING FOR CAN'T BE FOUND.</h2>
            <p>
                SORRY BUT THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST, HAVE BEEN REMOVED, NAME CHANGED OR ITS TEMPORARILY UNAVAILABLE.
            </p>
            <button mat-raised-button color="primary" routerLink="/">Go to Homepage</button>
        </div>
    </div>
</div> 