<div class="user-menu">
    <div [matMenuTriggerFor]="userMenu" style="cursor: pointer">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="user" class="user-image">
        <div class="user-info" *ngIf="userInfo">
            <p>Admin</p>
        </div>
    </div>
</div>

<mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()" style="display: flex; align-items: center; gap: 8px;">
        <mat-icon style="color: black">power_settings_new</mat-icon>
        <span>Log out</span>
    </button>
</mat-menu>