<div class="user-menu">
    <div [matMenuTriggerFor]="userMenu" style="cursor: pointer">
        <img src="assets/img/profile/default-avatar.jpg" alt="user" class="user-image">
        <div class="user-info" *ngIf="userInfo">
            <p>Admin</p>
        </div>
    </div>
</div>

<mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()" style="display: flex; align-items: center; gap: 8px;">
        <mat-icon style="color: black">power_settings_new</mat-icon>
        <span>Log out</span>
    </button>
</mat-menu>