<app-content-header [title]="'Floors'" [icon]="'event'" [hideBreadcrumb]="true" [hasBgImage]="true" [class]="'pt-2'">
</app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">


  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="openAddMessageDialog()" class="compose" fxShow="false"
      fxShow.gt-xs>Add Floor</button>
  </div>
</mat-toolbar>


<div fxLayout="column" class="p-2">
  <div class="p-2">
    <div fxLayout="column" class="mat-elevation-z8">
      <mat-form-field class="px-3 py-1">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>S No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.serial_number}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="floor_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Floor Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.floor_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="building_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Building Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.building_name}} </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a (click)="openEditDialog(element)">
            <mat-icon matListIcon class="pointer" style="color: dimgrey;margin-right: 15px; cursor: pointer;">edit
            </mat-icon>
          </a>

          <a (click)="confirmDialog(element.id)">
            <mat-icon matListIcon class="pointer" style="color: dimgrey;margin-right: 5px; cursor: pointer;">delete
            </mat-icon>
          </a> </mat-cell>
      </ng-container> -->

                      <!-- Action Column -->
                      <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef > Edit </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="remove-border"
                            color="primary" (click)="openEditDialog(element)">
                            <mat-icon>edit</mat-icon>
                        </button> </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="remove-border"
                            (click)="confirmDialog(element)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button> </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                          Loading data...
                        </mat-footer-cell>
                      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[15, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>