<app-content-header [title]="'Sponsor'" [icon]="'euro'" [hideBreadcrumb]="true" [hasBgImage]="true" [class]="'pt-2'">
</app-content-header>

<div fxLayout="column" class="p-2">
  <div class="p-2" style="margin-bottom: 30px;">
    <mat-toolbar class="toolbar" style="background-color: #283593;">
      <button mat-raised-button color="accent" (click)="openAddMessageDialog()">
        <mat-icon>add</mat-icon> Add Sponsor
      </button>
    </mat-toolbar>

    <div fxLayout="column" class="mat-elevation-z8">
      <mat-form-field class="px-3 py-1">
        <mat-label>Filter</mat-label>
        <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Type to filter all columns">
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Serial Number Column -->
      <ng-container matColumnDef="serialNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>S No.</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</mat-cell>
      </ng-container>

      <!-- Sponsor Name Column -->
      <ng-container matColumnDef="sponsor_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sponsor Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.sponsor_name }}</mat-cell>
      </ng-container>

      <!-- Sponsor Image Column -->
      <ng-container matColumnDef="sponsor_image">
        <mat-header-cell *matHeaderCellDef>Sponsor Image Before</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img [src]="element.tag_image || 'assets/images/placeholder.png'" 
               [alt]="element.sponsor_name + ' Before Image'" 
               class="sponsor-image"
               (error)="element.tag_image = 'assets/images/placeholder.png'">
        </mat-cell>
      </ng-container>

      <!-- Sponsor Image 2 Column -->
      <ng-container matColumnDef="sponsor_image2">
        <mat-header-cell *matHeaderCellDef>Sponsor Image After</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img [src]="element.tag_image2 || 'assets/images/placeholder.png'"
               [alt]="element.sponsor_name + ' After Image'"
               class="sponsor-image"
               (error)="element.tag_image2 = 'assets/images/placeholder.png'">
        </mat-cell>
      </ng-container>

      <!-- Diameter Column -->
      <ng-container matColumnDef="diameter">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Diameter</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.diameter }}</mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openEditDialog(element)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDialog(element)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <!-- No Data Message -->
    <div class="no-data-message" *ngIf="dataSource.data.length === 0 && !isLoading">
      No sponsors found
    </div>

    <!-- Loading Spinner -->
    <div class="loading-spinner" *ngIf="isLoading">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>