<app-content-header     
[title]="'PolyTag Management'" 
    [icon]="'room'"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'pt-2'"></app-content-header>

 <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" (click)="openAddMessageDialog()" class="compose" fxShow="false" fxShow.gt-xs>Add PolyTag</button>       
    </div>
</mat-toolbar> 
    <div class="p-2"> 
        <div fxLayout="column" class="mat-elevation-z8">           
            <mat-form-field class="px-3 py-1">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
            </mat-form-field> 
        </div>
        <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">       
            <ng-container matColumnDef="serial_number">
                <mat-header-cell *matHeaderCellDef  mat-sort-header>S No.</mat-header-cell>
                <mat-cell *matCellDef="let element; index as i">{{i | serialNumber: paginator.pageSize : paginator.pageIndex}}</mat-cell>
            </ng-container>

             <ng-container matColumnDef="polytag_name">
                <mat-header-cell *matHeaderCellDef  mat-sort-header>Title </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.polytag_name}} </mat-cell>
            </ng-container> 

            <ng-container matColumnDef="score">
                <mat-header-cell *matHeaderCellDef  mat-sort-header>Score </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
            </ng-container>   

            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef  mat-sort-header>Category </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
            </ng-container>            

            <ng-container matColumnDef="asset_name">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header>Type</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.asset_name}}
                    </mat-cell>
            </ng-container>            

            <!-- Action Column -->
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef > Edit </mat-header-cell>
                <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="remove-border"
                    color="primary" (click)="openEditDialog(element)">
                    <mat-icon>edit</mat-icon>
                </button> </mat-cell>
           
            </ng-container>
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="remove-border"
                    (click)="confirmDialog(element.id)" color="warn">
                    <mat-icon>delete</mat-icon>
                </button> </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
                </mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
         </mat-table>
         <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[15, 20, 30]" showFirstLastButtons></mat-paginator>        
    </div>















<!-- 

<div fxLayout="row wrap" fxLayoutAlign="center" class="p-4">
   
    <mat-card class="p-4">  

                    <table >
                      <tr style="height: 50px;">
                        <th>Location Name</th>
                        <th>Created Date</th>
                        
                        <th>Action</th>

                    
                    </tr>
             
                    <tr *ngFor="let location of allCircuits.response;" class="trstyle">
                       
                    <td >{{location.location_name}}</td>
                    <td>{{location.created_at}}</td>
                    
                    <td>
                       <div>
                            <a (click)="openEditDialog(location)"><mat-icon matListIcon class="pointer" style="color: dimgrey;margin-right: 5px; cursor: pointer;">edit</mat-icon> </a> 
                        
                            <a (click)="OpenDelete(location.id)"><mat-icon matListIcon class="pointer" style="color: dimgrey;margin-right: 5px; cursor: pointer;">delete</mat-icon> </a>
                        </div>           

                    </td>
                    <mat-divider></mat-divider>

                   
                    </tr>
              
      </table> 
      </mat-card>     
  
</div> -->