<div style= "width:400px; height:250px;" perfectScrollbar>
        <div  style= "width:400px;height:150px;">
            
            <h3>Update Asset </h3>
        
            <div style="width:99.4%;float: left;margin-bottom:10px;">
             
            <mat-form-field [formGroup]="angForm" novalidate class="w-100" style= "margin-top:5px;">
                <input matInput placeholder="Asset Name" [(ngModel)]="asset_name" name="asset_name" formControlName="asset_name">

            </mat-form-field>

            <div *ngIf="angForm.controls['asset_name'].invalid && (angForm.controls['asset_name'].dirty || angForm.controls['asset_name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['asset_name'].errors.required">
                Asset Name is required.
              </div>
            </div>

            <!-- 
            <br>

            <mat-form-field [formGroup]="angForm" novalidate class="w-100" style= "margin-top:5px;">
                <input matInput placeholder="St-Coins" [(ngModel)]="st_coin" name="st_coin" formControlName="st_coin">

            </mat-form-field>

            <div *ngIf="angForm.controls['st_coin'].invalid && (angForm.controls['st_coin'].dirty || angForm.controls['st_coin'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['st_coin'].errors.required">
                St-Coins is required.
              </div>
            </div>                 
            -->
            
            <br>
            <mat-form-field  class="w-100" style="margin-top:5px;" [formGroup]="angForm" novalidate>
              <mat-select placeholder="Category" [(ngModel)]="category_id" name="food"
                  formControlName="category_id">
                  <mat-option *ngFor="let food of dataSourceCategory" [value]="food.id">
                      {{food.category}}
                  </mat-option>
              </mat-select>
          </mat-form-field>


          <div *ngIf="angForm.controls['category_id'].invalid && (angForm.controls['category_id'].dirty || angForm.controls['category_id'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['category_id'].errors.required">
                  Please Select Any Category.
              </div>
          </div>               
        
           
        <br/>
            
        <div style="position: absolute;margin:auto;"><button style="align-content: center;border-radius: 40px; position: absolute;margin:auto;
        display:block;" mat-raised-button color="primary" (click)="updateevent()" [disabled]="!angForm.valid" >Update Asset</button></div>     
        
        
        </div>
        
        
        
        
        
        
        
     