<mat-accordion multi="false" displayMode="flat">
    <div *ngFor="let menu of parentMenu" class="menu-item">
        <a *ngIf="menu.routerLink && !menu.hasSubMenu" mat-button 
            [routerLink]="[menu.routerLink]" 
            routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{exact:true}"
            [id]="'menu-item-'+menu.id">
            <div class="menu-item-content">
                <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
                <span class="menu-title">{{menu.title}}</span>
            </div>
        </a>

        <mat-expansion-panel *ngIf="menu.hasSubMenu" 
            [expanded]="menu.expanded"
            (opened)="onClick(menu.id)"
            (closed)="onClick(menu.id)"
            class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="menu-item-content">
                        <mat-icon class="menu-icon">{{menu.icon}}</mat-icon>
                        <span class="menu-title">{{menu.title}}</span>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="sub-menu">
                <app-vertical-menu [menuItems]="menuItems" [menuParentId]="menu.id"></app-vertical-menu>
            </div>
        </mat-expansion-panel>
    </div>
</mat-accordion>