<div style="width:600px; height:100%;" perfectScrollbar>
    <div style="width:600px; height:100%;">
        <h2 mat-dialog-title>Add/Edit Authority Email</h2>

        <mat-dialog-content>
            <div fxLayout="column" fxLayoutGap="16px">
                <mat-form-field [formGroup]="angForm">
                    <mat-label>Select Circuit</mat-label>
                    <mat-select (ngModelChange)="get_email($event)" 
                        name="circuit" formControlName="circuit">
                        <mat-option *ngFor="let food of dataSource1" [value]="food.id">
                            {{food.circuit_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="angForm.controls['circuit'].invalid && (angForm.controls['circuit'].dirty || angForm.controls['circuit'].touched)">
                        Circuit is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field [formGroup]="angForm">
                    <mat-label>Email</mat-label>
                    <input matInput name="email" formControlName="email">
                    <mat-error *ngIf="angForm.get('email')?.errors?.['required']">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="angForm.get('email')?.errors?.['pattern']">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-raised-button color="primary" 
                [disabled]="!angForm.valid" 
                (click)="addCharityData()">
                Add/Edit Email
            </button>
        </mat-dialog-actions>
    </div>
</div>
        