.hide{
    display: none;
}
 
mat-footer-row mat-footer-cell{
     justify-content: center;
     font-style: italic;
 }

 table {
    width: 100%;
  }

  .mat-column-player_id {
    overflow: initial;
  }  

  .mat-column-serial_number{
    max-width: 100px;
  }