<app-content-header 
  [icon]="'location_city'"
  [title]="'Monument Management'"
  [hideBreadcrumb]="false"
  [hasBgImage]="true" 
  [class]="'pb-4'">
</app-content-header>

<div class="page-container">
  <div class="header-actions">
    <button mat-raised-button color="primary" class="add-button" (click)="addMonument()">
      <mat-icon>add</mat-icon>
      <span>Add Monument</span>
    </button>
    
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search Monuments</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type to filter...">
    </mat-form-field>
  </div>

  <div class="table-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort class="monument-table">
      <!-- Serial Number Column -->
      <ng-container matColumnDef="serial_number">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Monument Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let element" class="description-cell">
          <span class="description-text">{{element.description}}</span>
        </mat-cell>
      </ng-container>

      <!-- Latitude Column -->
      <ng-container matColumnDef="lat">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </mat-header-cell>
        <mat-cell *matCellDef="let element" class="coord-cell"> {{element.lat}} </mat-cell>
      </ng-container>

      <!-- Longitude Column -->
      <ng-container matColumnDef="lng">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </mat-header-cell>
        <mat-cell *matCellDef="let element" class="coord-cell"> {{element.lng}} </mat-cell>
      </ng-container>

      <!-- Link Column -->
      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a *ngIf="element.link" [href]="element.link" target="_blank" rel="noopener" class="visit-link">
            <mat-icon>link</mat-icon>
            <span>Visit Link</span>
          </a>
        </mat-cell>
      </ng-container>

      <!-- Basket Flag Column -->
      <ng-container matColumnDef="basketFlag">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Basket </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="status-badge" [class.active]="element.add_basket === 1" [class.inactive]="element.add_basket === 0">
            {{element.add_basket === 1 ? 'Activated' : 'Deactivated'}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="action-buttons">
            <button mat-icon-button color="primary" (click)="editMonument(element)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteMonument(element.id)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="monument-row"></mat-row>

      <!-- Row shown when there is no matching data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" colspan="9">
          <div class="no-data-message">
            <mat-icon>search_off</mat-icon>
            <span>No monuments found</span>
          </div>
        </td>
      </tr>
    </mat-table>

    <mat-paginator 
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="10"
      showFirstLastButtons
      class="paginator">
    </mat-paginator>
  </div>
</div>
