<app-content-header     
[title]="'Monument Management'" 
    [icon]="'account_balance'"
    [hideBreadcrumb]="true"
    [hasBgImage]="true" 
    [class]="'pt-3'">
</app-content-header>
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 mailbox-toolbar">
        <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" (click)="openAddMessageDialog()" class="compose" fxShow="false" fxShow.gt-xs>Add Monument</button>       
        </div>
</mat-toolbar> 
<div fxLayout="column" class="p-2">
        <div fxLayout="column" class="mat-elevation-z8">           
            <mat-form-field class="px-3 py-1">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter all columns">
            </mat-form-field> 
        </div>
        <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">       
            
            <ng-container matColumnDef="serial_number">
                <mat-header-cell *matHeaderCellDef mat-sort-header>S No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.serial_number}} </mat-cell>
            </ng-container>

             <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Monument Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                <mat-cell *matCellDef="let element" class="line-clamp" matTooltip="For detail info click on &#9998; (Edit) button." matTooltipPosition="right"> {{element.description}} 
                </mat-cell>
                
              </ng-container>
 
            <ng-container matColumnDef="lat">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lat}} </mat-cell>
            </ng-container>   
            
            <ng-container matColumnDef="lng">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Longitude </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lng}} </mat-cell>
            </ng-container>   
            
            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Link</mat-header-cell>
                <mat-cell  *matCellDef="let element"> 
                    <a *ngIf="element.link; else elseBlock" href="{{element.link}}" target="_blank">Visit Link</a> </mat-cell>
                    <ng-template #elseBlock>
                        N/A
                      </ng-template>
            </ng-container>   

            <ng-container matColumnDef="basketFlag">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Basket</mat-header-cell>
                <ng-container *matCellDef="let element">
                    <mat-cell [ngStyle]="{'color': element.add_basket === 0 ? 'red' : 'green' }"><strong>{{element.add_basket === 0 ? 'Deactivated' : 'Activated'}}</strong></mat-cell>
                </ng-container>
            </ng-container>

            <!-- <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element"> <a (click)="openEditDialog(element)"><mat-icon mat-raised-button
                    matTooltip="Edit" style="color: dimgrey;margin-right: 16px; cursor: pointer;">edit</mat-icon> </a> 
                        
                <a (click)="confirmDialog(element.id)"><mat-icon matListIcon class="pointer" matTooltip="Delete" style="color: dimgrey;cursor: pointer;">delete</mat-icon> </a> 
                </mat-cell> 
            </ng-container>     -->
                            <!-- Action Column -->
                            <ng-container matColumnDef="edit">
                                <mat-header-cell *matHeaderCellDef > Edit </mat-header-cell>
                                <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="remove-border"
                                    color="primary" (click)="openEditDialog(element)">
                                    <mat-icon>edit</mat-icon>
                                </button> </mat-cell>
                            </ng-container>
                          
                            <ng-container matColumnDef="delete">
                                <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                                <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="remove-border"
                                    (click)="confirmDialog(element)" color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button> </mat-cell>
                            </ng-container>
            
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container>
        
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
            </mat-table>
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>        
   </div>
